In [1]:
import pandas as pd
import numpy as np
import requests
import json
from src.config.secrets import settings

## Prelude: Sample coding

In [28]:
# base Url and API key
url = settings.API_BASE_URL
api_key = settings.API_KEY

# Headers
headers = {
    'x-apisports-key': api_key,
    }


# Qeury
league_param = {
    "id": "39",
    "name": "Premier League",
    "code": "GB-ENG",
    "season": 2024,
    "current": False,
    "type": "league",
    "country": "England"}


team_param = {
    "league": "39",
    "season": "2024"
}


team_stats_param = {
    "league": "39",
    "season": 2021,
    'team': "33"
}


players_param = {
    "league": "39",
    "season": "2024",
}

In [3]:
print("Request Url :" + url)

Request Url : https://v3.football.api-sports.io/

In [8]:
# League Request
response_l = requests.get(url= url+"leagues", headers=headers, params=league_param)
print(response_l.status_code)

200

In [9]:
league_data = response_l.json()
league_data.keys()

dict_keys(['get', 'parameters', 'errors', 'results', 'paging', 'response'])

In [10]:
league_data['response']

[{'league': {'id': 39,
   'name': 'Premier League',
   'type': 'League',
   'logo': 'https://media.api-sports.io/football/leagues/39.png'},
  'country': {'name': 'England',
   'code': 'GB-ENG',
   'flag': 'https://media.api-sports.io/flags/gb-eng.svg'},
  'seasons': [{'year': 2024,
    'start': '2024-08-16',
    'end': '2025-05-25',
    'current': False,
    'coverage': {'fixtures': {'events': True,
      'lineups': True,
      'statistics_fixtures': True,
      'statistics_players': True},
     'standings': True,
     'players': True,
     'top_scorers': True,
     'top_assists': True,
     'top_cards': True,
     'injuries': True,
     'predictions': True,
     'odds': False}}]}]

In [34]:
# Teams Request
response_t = requests.get(url= url+"teams", headers=headers, params=team_param)
print(response_t.status_code)

200

In [37]:
team_dict = response_t.json()
team_dict.keys()

dict_keys(['get', 'parameters', 'errors', 'results', 'paging', 'response'])

In [27]:
team_data = team_dict['response']
team_df = pd.DataFrame([team_data[i]['team'] for i in range(len(team_data))]).set_index('id')
team_df

,name,code,country,founded,national,logo
id,,,,,,
33,Manchester United,MUN,England,1878,False,https://media.api-sports.io/football/teams/33.png
34,Newcastle,NEW,England,1892,False,https://media.api-sports.io/football/teams/34.png
35,Bournemouth,BOU,England,1899,False,https://media.api-sports.io/football/teams/35.png
36,Fulham,FUL,England,1879,False,https://media.api-sports.io/football/teams/36.png
39,Wolves,WOL,England,1877,False,https://media.api-sports.io/football/teams/39.png
40,Liverpool,LIV,England,1892,False,https://media.api-sports.io/football/teams/40.png
41,Southampton,SOU,England,1885,False,https://media.api-sports.io/football/teams/41.png
42,Arsenal,ARS,England,1886,False,https://media.api-sports.io/football/teams/42.png
45,Everton,EVE,England,1878,False,https://media.api-sports.io/football/teams/45.png
46,Leicester,LEI,England,1884,False,https://media.api-sports.io/football/teams/46.png
47,Tottenham,TOT,England,1882,False,https://media.api-sports.io/football/teams/47.png
48,West Ham,WES,England,1895,False,https://media.api-sports.io/football/teams/48.png
49,Chelsea,CHE,England,1905,False,https://media.api-sports.io/football/teams/49.png
50,Manchester City,MCI,England,1880,False,https://media.api-sports.io/football/teams/50.png
51,Brighton,BRI,England,1901,False,https://media.api-sports.io/football/teams/51.png
52,Crystal Palace,CRY,England,1861,False,https://media.api-sports.io/football/teams/52.png
55,Brentford,BRE,England,1889,False,https://media.api-sports.io/football/teams/55.png
57,Ipswich,IPS,England,1878,False,https://media.api-sports.io/football/teams/57.png
65,Nottingham Forest,NOT,England,1865,False,https://media.api-sports.io/football/teams/65.png
66,Aston Villa,AST,England,1874,False,https://media.api-sports.io/football/teams/66.png

In [29]:
# Player data Request
response_ts = requests.get(url=  url+"teams/statistics", headers=headers, params=team_stats_param)
print(response_ts.status_code)

200

In [30]:
stats_data = response_ts.json()
stats_data.keys()

dict_keys(['get', 'parameters', 'errors', 'results', 'paging', 'response'])

In [33]:
stats = stats_data['errors']
print(type(stats))
stats

<class 'dict'>

{'plan': 'Free plans do not have access to this season, try from 2022 to 2024.'}

In [13]:
# For team id
stats['team']['id']

# for form
stats['form']

#for fixtures
stats['fixtures']['wins']['home']
stats['fixtures']['wins']['away']
stats['fixtures']['loses']['home']
stats['fixtures']['loses']['away']
stats['fixtures']['draws']['home']
stats['fixtures']['draws']['away']

# for goals
stats['goals']['for']['total']['home']
stats['goals']['for']['total']['away']
stats['goals']['against']['total']['home']
stats['goals']['against']['total']['away']

# for clean sheets
stats['clean_sheet']['home']
stats['clean_sheet']['away']

# for failed to score
stats['failed_to_score']['home']
stats['failed_to_score']['away']

# for penalties
stats['penalty']['scored']['total']
stats['penalty']['missed']['total']

# for cards
sum((bucket.get("total") or 0) for bucket in stats['cards']['yellow'].values())
sum((bucket.get("total") or 0) for bucket in stats['cards']['red'].values())

3

In [12]:
# stats is your dict, e.g. stats["cards"]["yellow"]["0-15"]["total"]

yellow_totals_sum = sum((bucket.get("total") or 0) for bucket in stats['cards']['yellow'].values())

print(yellow_totals_sum)

86

In [60]:
def get_teams(season, league=39):
    team_param = {
    "league": league,
    "season": season
    }
    response_t = requests.get(url= url+"teams", headers=headers, params=team_param)
    if response_t.status_code == 200:
        team_dict = response_t.json()
        team_data = team_dict['response']
        team_df = pd.DataFrame([team_data[i]['team'] for i in range(len(team_data))])
        return team_df
    else:
        print(f"Error: {response_t.status_code}")
        return None

In [ ]:
def get_team_stats(team_id, season=2024, league_id=39):
    team_stats_param = {
        "league": "39",
        "season": season,
        'team': team_id
    }
    response_ts = requests.get(url= url+"teams/statistics", headers=headers, params=team_stats_param)
    if response_ts.status_code == 200:
        stats_data = response_ts.json()
        return stats_data['response']
    else:
        print(f"Failed to retrieve data for team ID {team_id}. Status code: {response_ts.status_code}")
        return None

## Some Data Exploration

In [42]:
import pickle
def load_data(file_path):
    with open(file_path, 'rb') as f:
        data = pickle.load(f)
    return data

In [50]:
# Loading Team data

team_24_df = load_data("../data/2024/teams_2024.pkl")
team_23_df = load_data("../data/2023/teams_2023.pkl")
team_22_df = load_data("../data/2022/teams_2022.pkl")

In [51]:
# Loading Team stats data
team_stats_24_df = load_data("../data/2024/team_stats_2024.pkl")
team_stats_23_df = load_data("../data/2023/team_stats_2023.pkl")
team_stats_22_df = load_data("../data/2022/team_stats_2022.pkl")

In [53]:
team_24_df.head()

,id,name,code,country,founded,national,logo
0,33,Manchester United,MUN,England,1878,False,https://media.api-sports.io/football/teams/33.png
1,34,Newcastle,NEW,England,1892,False,https://media.api-sports.io/football/teams/34.png
2,35,Bournemouth,BOU,England,1899,False,https://media.api-sports.io/football/teams/35.png
3,36,Fulham,FUL,England,1879,False,https://media.api-sports.io/football/teams/36.png
4,39,Wolves,WOL,England,1877,False,https://media.api-sports.io/football/teams/39.png

In [54]:
team_stats_24_df.head()

,id,form,fixture_hw,fixtures_aw,fixtures_hl,fixtures_al,fixtures_hd,fixtures_ad,goals_h,goals_a,conceded_h,conceded_a,clean_sheet_h,clean_sheet_a,fts_h,fts_a,penalty_scored,penalty_missed,cards_yellow,cards_red
0,33.0,WLLWDLDWLDWDWLLWLLLDWLWLLDWDWLDLLDLLLW,7.0,4.0,9.0,9.0,3.0,6.0,23.0,21.0,28.0,26.0,5.0,5.0,8.0,7.0,4.0,0.0,86,3
1,34.0,WDWWLDDLLWWLDDLWWWWWWLWLLWLWWWWWLWDWLL,12.0,8.0,5.0,7.0,2.0,4.0,40.0,28.0,20.0,27.0,8.0,5.0,3.0,4.0,5.0,1.0,68,1
2,35.0,DDWLLWLWDWLLWWWDWDDWDWWLWLLDLLDWDDWLLW,8.0,7.0,7.0,5.0,4.0,7.0,23.0,35.0,16.0,30.0,7.0,2.0,5.0,3.0,6.0,1.0,97,3
3,36.0,LWDDWWLLDWWLDWDDDWDDLWLWWLWLWLWLLWLLWL,7.0,8.0,7.0,7.0,5.0,4.0,27.0,27.0,30.0,24.0,2.0,3.0,4.0,3.0,3.0,1.0,80,2
4,39.0,LLDLLLLLDDWWLLLLWWDLLLLWLWLDWWWWWWLLLD,6.0,6.0,10.0,10.0,3.0,3.0,27.0,27.0,32.0,37.0,5.0,3.0,3.0,4.0,0.0,0.0,79,2